{% extends "layout.html" %}
{% block title %}See filetree{% endblock %}
{% block resources %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
<script src="/static/js/see-filetree.js"></script>
{% endblock %}
{% block content %}
	<p id="status" class="error"></p>
	<div id="container"></div>
	<button id='refresh' class="submit">Check for filetree changes</button>
{% endblock %}
